@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;1,100&display=swap");

/* logo color #22D8BE */
:root {
  --primary-color: #22D8BE;
  --light-color: #eafcf9;
  --dark-color: #b7f4eb;
}

body {
  margin: 0px auto;
  min-height: 100%;
  font-family: "Prompt", sans-serif;
  letter-spacing: 2px;
  font-weight:200;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.main-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.nav-container {
  background-color: var(--primary-color);
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 0.5rem 2rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position:sticky;
  top:0;

  
}

.nav-brand {
  text-align: left;
  font-size:larger;
  color: white;
  font-weight:900;
}

.nav-links {
  text-align: right;
  margin: 1rem auto 0;
}

ul li {
  list-style: none;
  display: inline;
  padding: 1rem 1rem 0;
  font-size: larger;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  font-weight:900;
}

.header-container {
  margin: 4rem auto;
}

.head-img {
  width: 70%;
  border-radius: 2rem;
  max-width: 800px;
  min-width: 400px;
}

h1 {
  letter-spacing: 5px;
}



.special-heading {
  font-style:oblique;
  letter-spacing: 1rem;
  color: var(--primary-color);
}

.about-me {
  background-color: var(--dark-color);
  margin: 1rem auto;
  width: 60%;
  padding: 2rem;
  border-style:inset;
  border-radius: 1rem;
}

.technologies-container {
  background-color: var(--light-color);
  margin: 1rem auto;
  width: 60%;
  padding: 2rem;
  border-style:outset;
  border-radius: 1rem;
}

.projects-container {
  background-color: var(--dark-color);
  margin: 1rem auto;
  width: 60%;
  padding: 2rem;
  border-style:inset;
  border-radius: 1rem;
}

.blogs-container {
  background-color: var(--light-color);
  margin: 1rem auto;
  width: 60%;
  padding: 2rem;
  border-style: outset;
  border-radius: 1rem;
}


h2 {
 letter-spacing: 5px;
}

h3 {
  padding-top: 1rem;
  margin: 1rem;
}



.projects-link {
  background-color: #22D8BE;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: black;
}

.blogs-link {
  background-color: var(--dark-color);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: black;
}

.footer-container {
  background-color: var(--primary-color);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  color: white;
}

.sm-logo {
  margin: 1rem auto;
  padding-right:1rem;
  padding-left: 1rem;
  width: 30px;
}

.social-media-list {
  padding: 0 0;
  margin: auto;
}